@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('973965.jpg');
    background-size: cover;
}
form {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visor {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.num {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.284);
    color: rgb(251, 142, 18);
    font-size: 23px;
    transition: 0.3s;
}
.num:hover{
    filter: opacity(50%);
    cursor: pointer;
}
#campo {
    width: 200px;
    height: 100px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: end;
    text-align: start;
    font-size: 23px;
    margin-top: 30px;    
}

.separa {
    width: 260px;
    height: 1.2px;
    background-color: rgba(128, 128, 128, 0.398);

}

#apaga {
    width: 30px;
    font-size: 20px;
    background-color: transparent;
    color: rgb(253, 175, 91);
    transform: scaleX(-1);
    position: absolute;
    border: none;
    margin-top: 100px;
    margin-left: 225px;
    cursor: pointer;
}

#apaga:active{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#apaga:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.teclas {
    margin: 1px;
}

.maincolor {
    color: plum;
}

.igual{
    background-color:  rgb(253, 175, 91);
    color: black;
}